* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bg-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

#content {
    text-align: center;
    margin-top: 20px;
}

#current-display {
    background-color: white;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 200px;
    padding-bottom: 20px;
}

#current-display > h2 {
    padding: 20px 0 10px;
    margin: 0 30px 10px;
    border-bottom: 1px solid lightgray;
}

#forecast-display {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#forecast-display > div {
    background-color: white;
    border: lightgray 1px solid;
    border-radius: 5px;
    margin: 5px;
    padding: 10px 0;
}